:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bgd-color: #2f303a;
  --second-bgd-color: #f5f4fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* утилиты */

body {
  margin: 0;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

/* container */

.container {
  width: 1630px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Header WebSite */

.top-container {
  display: flex;
  align-items: center;
  padding-left: 215px;
  padding-right: 215px;
}

.top-nav {
  margin-left: 93px;
}

.top-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.top-item:not(:first-child) {
  margin-left: 50px;
}

.nav-contacts {
  margin-left: auto;
}

.top-logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.top-logo-web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.top-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.top-contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.top-contacts + .top-contacts {
  margin-left: 50px;
}

.top-link:hover,
.top-contacts:hover,
.top-link:focus,
.top-contacts:focus {
  color: var(--accent-color);
}

/* BigBoard */

.bigboard {
  background-color: var(--primary-bgd-color);
  text-align: center;
}

.bigboard-name {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.bigboard-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}

/* What are we doing */

.plus {
  padding-left: 215px;
  padding-right: 215px;
}

.plus-soft-skills {
  display: flex;
  padding: 0;
}

.plus-soft-skills-li:not(:first-child) {
  margin-left: 30px;
}

.plus-title {
  color: var(--title-text-color);
  font-weight: bold;
}

.plus-text {
  line-height: 1.7;
}

/* Types of work */

.work-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-list {
  display: flex;
  padding-left: 215px;
  padding-right: 215px;
}

.work-list-li:not(:first-child) {
  margin-left: 30px;
}

/* Team */

.team {
  background-color: var(--second-bgd-color);
}

.team-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-list {
  display: flex;
  padding-left: 215px;
  padding-right: 215px;
}

.team-list-li {
  background-color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
}

.team-list-li:not(:first-child) {
  margin-left: 30px;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.under {
  background-color: var(--primary-bgd-color);
}

.under-logo {
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.under-logo-web {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.under-address {
  color: var(--primary-white-color);
  line-height: 1.7;
}

.under-contacts {
  color: var(--footer-text-color);
  line-height: 1.7;
}

/* Secondary page */

/* Portfolio */

.navigation-button {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-site {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.portfolio-site-type {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
}
